@import '../base/variables';
@import '../base/animations';
*{
    font-family: 'Museo Sans Serif' , sans-serif;
    font-display: swap;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}
@import '../blocks/catalog';
@import '../blocks/promo';
@import '../blocks/header';
@import '../blocks/buttons';
@import'../blocks/benefits';
@import '../blocks/consultation';
@import '../blocks/forms';
@import '../blocks/carousel';
@import '../blocks/rewiews';
@import'../blocks/footer';
@import '../blocks/modals';
@import'../blocks/pageup';
